body{
    background-color: rgb(261,236,239) !important;
}
.navbar{
    background-color: rgb(250,250,250);
    overflow: hidden;
    margin: 0 auto;
}
.navbar a{
    float: left;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 20px 0 20px;
}
.navbar a:last-child{
    float: right;
}
.navbar a:hover{
    color: rgb(202,183,187);
}
.nav_links{
    display: block;
}
.icon{
    display: none;
}
.box{
    margin-top: 10px;
}
.box h1, h2{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 4px;
}
.box p{
    font-family: 'Pangolin', cursive;
    letter-spacing: 1.2px;
    padding: 2px;
}
.text{
    border-radius: 5px;
    height: 35rem;
}
.form_box{
    background-color: rgb(237 204 209);
    width: 35%;
    border-radius: 10px;
    margin: auto;    
}
form>div{
    padding: 15px;
}
.row{
    width: 95%;
}
.box .cont li{
    margin: 5px;
}
.gal_show {
    display: contents;
    opacity: 1;
  animation: fade-in 1.1s ease-in;
}
.gallery__thumb>img{
    height: 200px;
}
.gallery__column{
    padding: 20px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 375px){
    .navbar{
        width: 90%;
        margin-bottom: 8px;
    }
    .navbar a{
        width: 100%;
        margin: 0 auto;
    }
    .nav_links{
        display: none;
    }
    .icon{
        display: block;
    }
    .box{
        width: 90%;
        margin: 0 auto;
    }
    .text{
        height: 100%;
    }
    .wlc_txt{
        flex-direction: column;
        margin: 0 auto;
    }
    .text_box{
        float: none;
        margin: 0 auto;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}